@using GameZone.Settings
@using GameZone.Services
@model List<Game>
@{
    ViewData["Title"] = "Home Page";
}
@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">

        <h4 class="alert-heading">No Games!</h4>
        <p class="mb-0"> no games were added yet.</p>
    </div>
}
else
{
    <div class="row mt-5">
        @foreach(var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card border-success mb-3" style="max-width: 20rem ;">
                    <div class="card-body" style="background-image:url(@($"{FileSettings.ImagesPath}/{item.Name}"))"></div>
                    <div class="h-100">
                        <span class="badge bg-secondary rounded-0">@item.Catogory.Name</span>
                    </div>


                </div>
            </div>
        }
    </div> 
}

