@using GameZone.Settings
@model CreateGameFormVM
@{

    ViewData["Title"] = "Add Game";
}   

<form asp-controller="Games" enctype="multipart/form-data" \>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Name"/>
                <span asp-validation-for="Name" class="text-bg-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="SelectedDevices" class="form-label mt-2"></label>
                <select class="form-select" asp-for="SelectedDevices" asp-items="Model.Devices">
                    <option value=""></option>
                </select>
                <span asp-validation-for="SelectedDevices" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cover" class="form-label mt-4"></label>
                <input type="file" class="form-control" asp-for="Cover" />
                <small class="form-text text-muted">@FileSettings.AllowExtensions File Max Size @(FileSettings.MaxFileSizeInMB)MB</small>
                <span asp-validation-for="Cover" class="text-bg-danger" ></span>
            </div>
            <button type="submit" class="btn btn-light text-bg-dark mt-3">Save</button>
        </div>
           
           

    </div>

</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#Cover').on('change', function () {
                $('.cover-Preview').attr('src', window.URL.createObjectURL(this.files[0]));
            }

        });
    </script>
}